/* Table of Content
==================================================
	#Reset & Basics
	#Typography
	#Links


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, h1, p, a, img, ul, ol, li, {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
 }
 	ol, ul, h1, h5, p,a {
 		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		-webkit-padding-start: 0;
		font-weight:400;
 }
	body {
		line-height: 1; }
	ul,ol {
		list-style: none; }


/* #Basic Styles
================================================== */
/* #Typography
================================================== */
div{
	font-family:"Arvo",serif;
	color:#111;
}
h1{
	font-size:1.2em;
	margin-bottom:0.3em; }
p{
	font-family:"Roboto", sans-serif;
	font-size:0.65em;
	line-height:1.5em; }
/* #Links
================================================== */
	a, a:visited {color:#363636; text-decoration: none; outline: 0; }
	p a, p a:visited {color:#D64541; line-height: inherit;opacity:0.75; }
	a:hover{color:#D64541; opacity:1; }